@model PagedList.IPagedList<NoZebraFlickrAPI.FlickrItem>
@using PagedList.Mvc;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <script src="~/script/jquery.js"></script>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            <p>
                <table>
                    <tr><td>Title: </td><td>@Html.TextBox("txtSearch")</td></tr>
                    
                    <tr>
                      <td>Sort by: </td>
                      <td>
                          @Html.DropDownList("orderBy", "None")

                      </td>
                    </tr>
                    <tr><td colspan="2"><input type="submit" value="Update feed" /></td></tr>
                    <tr><td colspan="2">&nbsp;</td></tr>
                    <tr>
                      <td colspan="2">
                          

                      </td>
                    </tr>
                </table>
            </p>
        }

            
            <div id="ListFlickr">
                @Html.Partial("ListFlickr", Model)
            </div>
    </div>
    <script type="text/javascript">
        $('body').on('click', '.pagination a', function (event) {
            event.preventDefault();
            var url = $(this).attr('href');
            
            $.ajax({
                url: url,
                success: function (result) {
                    $('#ListFlickr').html(result);
                }
            });
        });
        </script>
    </body>
    </html>
